<div class="login-container">
    <h2 class="text-center">Login</h2>

    <div class="container cf">
        <div class="form-wrapper">
            <form>
                <div class="form-group">
                    <label for="inputUsername">Username</label>
                    <input class="form-control" id="inputUsername" ng-model="username" placeholder="Username" required>
                </div>
                <button type="submit" class="btn btn-default" ng-click="submit()">Submit</button>
            </form>
        </div>
    </div>
</div>
